@import url("https://fonts.googleapis.com/css?family=Montserrat:500");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 11px;
  background-color: #24252a; }

html {
  height: 100%; }

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  color: #edf0f1;
  text-decoration: none; }

#here-logo {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  color: #edf0f1;
  text-decoration: none; }

.current {
  color: #28f3af; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10%; }

.logo {
  cursor: pointer; }

.nav__links {
  list-style: none; }
  .nav__links li {
    display: inline-block;
    padding: 0rem 1rem; }
    .nav__links li a {
      padding: 0.9rem 0rem;
      cursor: pointer;
      transition: all 0.3s ease 0s; }
      .nav__links li a:hover {
        color: #28a9f3; }

main {
  font-family: "Noto Sans KR", sans-serif;
  color: #edf0f1; }

#main-hero {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/mainpage.jpg") center center/cover no-repeat; }
  #main-hero h1 {
    background-color: transparent;
    font-size: 2.7rem;
    padding-bottom: 0.5rem; }
  #main-hero p {
    background-color: transparent;
    width: minmax(75%, 55%);
    font-size: 1.05rem;
    font-weight: 700; }

.memo {
  padding: 2.5rem 10%; }
  .memo h2 {
    font-size: 2rem; }
  .memo p {
    font-size: 1.2rem;
    padding-top: 5px; }
  .memo a {
    display: inline-block;
    background-color: #28a9f3;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    margin: 1rem 0;
    font-weight: 900; }

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  gap: 2rem;
  padding: 2.5rem 10%; }
  .container h2 {
    font-size: 2rem;
    font-weight: 900; }
  .container p {
    font-size: 1.2rem; }

@media (max-width: 555px) {
  header {
    justify-content: center;
    flex-direction: column; }
  #here-logo {
    margin-bottom: 1.1rem; }
  .container {
    display: block; }
    .container section {
      margin-bottom: 1.5rem; } }
