doctype html
//
  Copyright (c) 2022 Sungbae Jeong
  This software is released under the MIT License.
  https://opensource.org/licenses/MIT
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  // Chrome, Firefox OS and Opera
  meta(name='theme-color', content='#24252a')
  // Windows Phone
  meta(name='msapplication-navbutton-color', content='#24252a')
  // iOS Safari
  meta(name='apple-mobile-web-app-status-bar-style', content='#24252a')
  title Almagest&apos;s Homepage
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css', integrity='sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==', crossorigin='anonymous')
  link(rel='stylesheet', href='../../css/style.css')
header
  h1#here-logo Almagest
  nav
    ul.nav__links
      li
        a(href='../../index.html') Home
      li
        a.current(href='#') Blogs
main
  .blog
    ul
      li
        a(href='./Scottish_Brochs/scottish.html') Scottish Brochs
