@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("img/mainimage.jpg") center no-repeat fixed;
    background-size: cover;
    overflow: hidden;
}

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif, "Noto Sans KR";
    color: #eee;
}

a {
    color: #eee;
    text-decoration: none;
}

.current {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.container {
    width: 85%;
    margin: 0 auto;
}

hr {
    margin: 2rem 0;
    color: #eee;
}

/* Header Setting */
header {
    height: 7%;
    background: #333;
    border-bottom: deepskyblue 5px solid;
}

.main-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 20px;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.main-nav ul li {
    padding-right: 10px;
}

/* Main Setting */
main {
    width: 90%;
    height: 74.4%;
    margin: 3rem auto 3rem auto;
}

#main-title {
    width: 100%;
    text-align: center;
}

#main-title h1 {
    padding: 0.5rem;
}

#main-title p {
    width: 55%;
    margin: 0 auto;
    padding: 0.5rem;
    font-weight: bold;
}

#main-description {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2.5rem;
}

.title-abbriv section {
    border: 3px rgba(0, 0, 0, 0) solid;
    padding: 5px;
    margin-bottom: 35px;
}

.title-abbriv section:hover {
    border: 3px #eee solid;
}

.title-abbriv section h2 {
    margin-bottom: 10px;
}

.link-site {
    display: flex;
    align-items: center;
    font-size: 32px;
    margin-top: 20px;
}

.link-site h2 {
    font-size: 20px;
    margin-right: 25px;
}

.link-site a:hover {
    color: gold;
}

/* Footer */
footer {
    height: 7%;
    background-color: #333;
    text-align: center;
    border-top: deepskyblue 5px solid;
}

footer p {
    font-weight: bold;
    padding: 20px;
}

/* Mobile */

@media (max-width: 800px) {
    main {
        height: 75.6%;
    }
}

@media (max-width: 500px) {
    html,
    body {
        height: initial;
    }

    .main-nav {
        grid-template-columns: 1.5fr 1fr;
    }
    .main-nav h2 {
        font-size: 19px;
    }

    #main-title {
        margin-bottom: 2rem;
    }

    #main-title h1 {
        font-size: 25px;
    }

    #main-title p {
        font-size: 15px;
        width: 80%;
    }

    #main-description {
        gap: 0.5rem;
    }
}

@media (max-width: 400px) {
    .main-nav h2 {
        font-size: 17px;
    }

    #main-title p {
        font-size: 13px;
    }
}
