doctype html
//
  Copyright (c) 2022 Sungbae Jeong
  This software is released under the MIT License.
  https://opensource.org/licenses/MIT
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  // Chrome, Firefox OS and Opera
  meta(name='theme-color', content='#24252a')
  // Windows Phone
  meta(name='msapplication-navbutton-color', content='#24252a')
  // iOS Safari
  meta(name='apple-mobile-web-app-status-bar-style', content='#24252a')
  title Almagest&apos;s Homepage
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css', integrity='sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==', crossorigin='anonymous')
  link(rel='stylesheet', href='../../../css/style.css')
header
  h1#here-logo Almagest
  nav
    ul.nav__links
      li
        a(href='../../../index.html') Home
      li
        a.current(href='#') Blogs
      li
        a(href='../vocas.html') Back to Voca-List
main
  .blog
    h2 Vocabulary (Scottish Brochs)
    table
      tr
        th Word
        th Meaning
        th Example
      tr
        td countryside
        td 시골 지역
        td The countryside around there is beautiful.
      tr
        td rural
        td 시골의, 지방의 (antonym: urban)
        td an idealized view of rural life
      tr
        td extent
        td
          ul
            li (크기·중요성·심각성 등의) 정도[규모]
            li (어떤 지역의) 크기[규모]
        td From the top of the Empire State Building, you can see the full extent of Manhattan
      tr
        td attempt
        td
          ul
            li (특히 힘든 일에 대한) 시도
            li (특히 힘든 일을) 시도하다, 애써 해보다
        td He attempted a joke, but no one laughed.
      tr
        td taper
        td (폭이) 점점 가늘어지다[가늘게 만들다]
        td
          ul
            li The cave tapered to a narrow passageway.
            li Taper your brows slightly at the end.
      tr
        td behalf
        td 이익; 원조, 자기편; 지지
        td On behalf of the entire company, I would like to thank you for all your work
      tr
        td bond
        td
          ul
            li 묶는 것; 끈, 줄, 띠
            li (보통 bonds) 속박, 구속; 족쇄
            li (상품, 고용인, 공무원 등을) 계약하다
            li (포개어 쌓은 벽돌 등이) 접착[밀착]하다
        td
          ul
            li There has been a close bond between them ever since she saved him from drowning
            li When the glue has set, the bond formed is watertight.
      tr
        td mortar
        td a mixture that is used to bond stone, bricks, or other similar substances
        td The truck was carrying not only mortar and cement but huge planks and beams and barrels of nails
      tr
        td ledge
        td
          ul
            li 절벽에서 (선반처럼) 튀어나온 바위
            li (특히 창문 아래 벽에 붙인) 선반
        td
      tr
        td seal
        td
          ul
            li (봉투 등을) 봉[봉인]하다
            li 밀봉[밀폐]하다
            li (특정 개인·기관을 나타내는) 직인[도장/인장]
            li 인장(印章); 도장, 인감; 문장(紋章)
            li [동물] 바다표범, 물개
        td
      tr
        td intact
        td (하나도 손상되지 않고) 온전한, 전혀 다치지 않은
        td
          ul
            li They found the intact skull of a mammoth
            li A year later, her undefeated record is still intact
      tr
        td rooftop
        td (건물의) 옥상
        td a magnificent view of the rooftops
      tr
        td enclose
        td
          ul
            li (담·울타리 등으로) 두르다[둘러싸다]
            li 에워[둘러]싸다
            li 동봉하다
        td The park that encloses the monument has recently been enlarged
      tr
        td invader
        td
          ul
            li 침략군[국]
            li (군사적으로) 침입[침략]하다, 쳐들어가다[오다]
            li 난입하다, 침범하다
            li 침해하다
        td The foreign invaders were finally defeated by allied forces
      tr
        td cluster
        td
          ul
           li (함께 자라거나 나타나는) 무리, (작은 열매의) 송이
           li (조밀하게 모여 있는 사람동물 등의) 무리
           li 무리를 이루다, (소규모로) 모이다
        td Have a look at the cluster of galaxies in this photograph
      tr
        td mutual
        td 상호간의, 서로의
        td Theirs was a partnership based on mutual respect, trust and understanding
      tr
        td wilderness
        td 황야, 황무지, (돌보지 않아서) 버려진 땅[황폐지]
        td a beautiful mountain wilderness
      tr
        td prestige
        td
          ul
            li 위신, 명망
            li 위신[명망] 있는
            li (중요해 보이고 값비싸서) 선망을 얻는, 고급의
        td The company has gained international prestige
      tr
        td arable
        td 곡식을 경작하는
        td
      tr
        td posit
        td (주장·논의의 근거로 삼기 위해 무엇을) 사실로 상정하다[받아들이다] (=postulate)
        td If we posit that wage rises cause inflation, it follows that we should try to minimize them
