doctype html
//
  Copyright (c) 2022 Sungbae Jeong
  This software is released under the MIT License.
  https://opensource.org/licenses/MIT
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  // Chrome, Firefox OS and Opera
  meta(name='theme-color', content='#24252a')
  // Windows Phone
  meta(name='msapplication-navbutton-color', content='#24252a')
  // iOS Safari
  meta(name='apple-mobile-web-app-status-bar-style', content='#24252a')
  title Almagest&apos;s Homepage
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css', integrity='sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==', crossorigin='anonymous')
  link(rel='stylesheet', href='../../../css/style.css')
header
  h1#here-logo Almagest
  nav
    ul.nav__links
      li
        a(href='../../../index.html') Home
      li
        a.current(href='#') Blogs
main
  .blog
    h2 Vocabulary (Scottish Brochs)
    table
      tr
        th Word
        th Meaning
        th Example
      tr
        td countryside
        td land not in towns, cities, or industrial areas, that is either used for farming or left in its natural condition
        td The countryside around there is beautiful.
      tr
        td rural
        td in, or relating to, or chracteristic of the countryside rather than the town
        td an idealized view of rural life
      tr
        td extent
        td the area covered by something
        td From the top of the Empire State Building, you can see the full extent of Manhattan
      tr
        td attempt
        td
          | make an effort to achieve or complete (something, typically a difficult task or action)
        td He attempted a joke, but no one laughed.
      tr
        td taper
        td to become gradually narrower at one end, or to make something do this
        td
          ul
            li The cave tapered to a narrow passageway.
            li Taper your brows slightly at the end.
      tr
        td behalf
        td interest, benefit
        td On behalf of the entire company, I would like to thank you for all your work
      tr
        td bond
        td
          ul
            li 묶는 것; 끈, 줄, 띠
            li (보통 bonds) 속박, 구속; 족쇄
            li (상품, 고용인, 공무원 등을) 계약하다
            li (포개어 쌓은 벽돌 등이) 접착[밀착]하다
        td
          ul
            li There has been a close bond between them ever since she saved him from drowning
            li When the glue has set, the bond formed is watertight.
      tr
        td mortar
        td a mixture that is used to bond stone, bricks, or other similar substances
        td The truck was carrying not only mortar and cement but huge planks and beams and barrels of nails
      tr
        td ledge
        td a narrow shelf that sticks out from a vertical surface
        td
      tr
        td seal (noun)
        td
          ul
            li a large mammal that eats fish and lives partly in the sea and partly on land or ice
            li something fixed around the edge of an opening to prevent liquid or gas flowing through it
        td
      tr
        td seal (verb)
        td to close an entrance or container so that nothing can enter or leave it
        td
      tr
        td intact
        td
          ul 
            li not damaged or destroyed
            li complete and in the original state
        td
          ul
            li They found the intact skull of a mammoth
            li A year later, her undefeated record is still intact
      tr
        td rooftop
        td the outside surface of the roof of a building
        td a magnificent view of the rooftops
      tr
        td enclose
        td to surround something
        td The park that encloses the monument has recently been enlarged
      tr
        td invader
        td an army or country that uses force to enter and take control of another country
        td The foreign invaders were finally defeated by allied forces
      tr
        td cluster
        td a group of similar things that are close together, sometimes surrounding something
        td Have a look at the cluster of galaxies in this photograph
      tr
        td mutual
        td (of two or more people or groups) feeling the same emotion, or doing the same thing to or for each other
        td Theirs was a partnership based on mutual respect, trust and understanding
      tr
        td wilderness
        td an area of land that has not been used to grow crops or had towns and roads built on it, especially because it is difficult to live in as a result of its extremely cold or hot weather or bad earth
        td a beautiful mountain wilderness
      tr
        td prestige
        td respect and admiration given to someone or something, usually because of a reputation for high quality, success, or social influence
        td The company has gained international prestige
      tr
        td arable
        td Arable farming land is used for, or is suitable for, growing crops
        td
